body {
    font-family: "Montserrat", sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    width: fit-content;
    transform: translateY(30%);
    margin: auto;
}
h1 {
    font-family: "Fraunces", serif;
}
p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
header img {
    width: 300px;
    border-radius: 20px 0 0 20px;
}
main {
    width: 240px;
    height: 390px;
    background-color: white;
    padding: 30px;
    position: relative;
    border-radius: 0 20px 20px 0;
}
main p:first-of-type {
    letter-spacing: 4px;
    margin: 0;
}
main h1:first-of-type {
    color: hsl(212, 21%, 14%);
    line-height: 1;
}
main p:last-of-type {
    line-height: 1.8;
    padding: 5px 0;
}
main h1:last-of-type {
    color: hsl(158, 36%, 37%);
}
main span {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: absolute;
    bottom: 103px;
    right: 70px;
}
main button {
    background-color: hsl(158, 36%, 37%);
    width: 240px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
main button:hover {
    background-color: hsl(167.08deg 100% 12.75%);
}
main button img {
    margin-right: 10px;
}